.changeableTitle {
    cursor: pointer;
    .changeMode {
        display: flex;
        align-items: center;
    }
    .input-wrapper {
        & label {
            color: red;
        }
        .error {
            ::after {
                border-color: red;
            }
        }
    }
    input {
        margin-bottom: 1px;
        color: #fff;
    }
    .button {
        color: #fff;
        padding: 0px;
        margin-left: 10px;
    }
}
