.App {
  background-color: #343333;
  color: white;
  min-height: 90vh;

  .header {
    position: relative;
    &__container {
      width: 100%;
      text-align: right;
    }
    .progressbar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px;
}
