.App {
  background-color: #ababab;
}
.dark {
  background-color: #343333;
  color: white;
}
.white {
  background-color: white;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px;
}
