.App {
  background-color: #343333;
  color: white;
  min-height: 100vh;
  position: relative;
  &__progressbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px;
}
